[Desktop Entry]
Version=1.0
Name=Brave Web Browser (Work)
GenericName=Web Browser
Exec=/usr/bin/brave-browser-stable --user-data-dir=%h/.config/brave-work %U
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
